In [10]:
import numpy as np
import pandas as pd
import re

In [18]:
# Read csv file into a Pandas df.
df=pd.read_csv("nap.csv", engine='python')
df.head()

         Date StartTime EndTime TotalNapTime
0  09/05/2018      9:37   10:23         0:46
1  09/05/2018      2:26    3:15         0:49
2  09/06/2018      9:23   10:02         0:39
3  09/06/2018      1:24    2:11         0:47
4  09/07/2018      9:23   10:02         0:39

In [19]:
df.columns = ['Date', 'StartTime', 'EndTime', 'TotalNapTime']

In [20]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

df['Year'] = df['Date'].dt.year

# Extract month from date.
df['Month'] = df['Date'].dt.month_name()

# Extract day of week from date.
df['Opened Day'] = df['Date'].dt.weekday_name

In [21]:
df.head()
#df.dtypes

        Date StartTime EndTime TotalNapTime  Year      Month Opened Day
0 2018-09-05      9:37   10:23         0:46  2018  September  Wednesday
1 2018-09-05      2:26    3:15         0:49  2018  September  Wednesday
2 2018-09-06      9:23   10:02         0:39  2018  September   Thursday
3 2018-09-06      1:24    2:11         0:47  2018  September   Thursday
4 2018-09-07      9:23   10:02         0:39  2018  September     Friday

In [22]:
#df['hours']=df['StartTime'].dt.hour
df['hours']=df['StartTime'].apply(lambda s: int(s.split(':')[0]))

In [23]:
df.head()

        Date StartTime EndTime TotalNapTime  Year      Month Opened Day  hours
0 2018-09-05      9:37   10:23         0:46  2018  September  Wednesday      9
1 2018-09-05      2:26    3:15         0:49  2018  September  Wednesday      2
2 2018-09-06      9:23   10:02         0:39  2018  September   Thursday      9
3 2018-09-06      1:24    2:11         0:47  2018  September   Thursday      1
4 2018-09-07      9:23   10:02         0:39  2018  September     Friday      9

In [24]:
df['AM-PM']= df['hours'].apply(lambda x: 'AM' if x >=7  else 'PM')

In [25]:
df.head()

,Date,StartTime,EndTime,TotalNapTime,Year,Month,Opened Day,hours,AM-PM
0,2018-09-05,9:37,10:23,0:46,2018,September,Wednesday,9,AM
1,2018-09-05,2:26,3:15,0:49,2018,September,Wednesday,2,PM
2,2018-09-06,9:23,10:02,0:39,2018,September,Thursday,9,AM
3,2018-09-06,1:24,2:11,0:47,2018,September,Thursday,1,PM
4,2018-09-07,9:23,10:02,0:39,2018,September,Friday,9,AM

In [26]:
df.dtypes

Date            datetime64[ns]
StartTime               object
EndTime                 object
TotalNapTime            object
Year                     int64
Month                   object
Opened Day              object
hours                    int64
AM-PM                   object
dtype: object

In [27]:
#df['StartTime_AM-PM'] = pd.concat(df['StartTime'],df['AM-PM'],ignore_index=True)
df['StartTime_AM-PM'] = df[['StartTime', 'AM-PM']].apply(lambda x: ' '.join(x), axis=1)
df['EndTime_AM-PM'] = df[['EndTime', 'AM-PM']].apply(lambda x: ' '.join(x), axis=1)

df.head()

,Date,StartTime,EndTime,TotalNapTime,Year,Month,Opened Day,hours,AM-PM,StartTime_AM-PM,EndTime_AM-PM
0,2018-09-05,9:37,10:23,0:46,2018,September,Wednesday,9,AM,9:37 AM,10:23 AM
1,2018-09-05,2:26,3:15,0:49,2018,September,Wednesday,2,PM,2:26 PM,3:15 PM
2,2018-09-06,9:23,10:02,0:39,2018,September,Thursday,9,AM,9:23 AM,10:02 AM
3,2018-09-06,1:24,2:11,0:47,2018,September,Thursday,1,PM,1:24 PM,2:11 PM
4,2018-09-07,9:23,10:02,0:39,2018,September,Friday,9,AM,9:23 AM,10:02 AM

In [32]:
from datetime import datetime
from dateutil.parser import parse

ts = '09/01/2019'

change_class = datetime.strptime(ts, '%m/%d/%Y')


#df['Class'] = df['Date'].apply(lambda x: 'Toddler' if x <= ts else 'Infant')

df['Class'] = df['Date'].apply (
    lambda x : 'Toddler' if x > change_class else 'Infant')


df.head()

,Date,StartTime,EndTime,TotalNapTime,Year,Month,Opened Day,hours,AM-PM,StartTime_AM-PM,EndTime_AM-PM,Class
0,2018-09-05,9:37,10:23,0:46,2018,September,Wednesday,9,AM,9:37 AM,10:23 AM,Infant
1,2018-09-05,2:26,3:15,0:49,2018,September,Wednesday,2,PM,2:26 PM,3:15 PM,Infant
2,2018-09-06,9:23,10:02,0:39,2018,September,Thursday,9,AM,9:23 AM,10:02 AM,Infant
3,2018-09-06,1:24,2:11,0:47,2018,September,Thursday,1,PM,1:24 PM,2:11 PM,Infant
4,2018-09-07,9:23,10:02,0:39,2018,September,Friday,9,AM,9:23 AM,10:02 AM,Infant

In [54]:
#start_date = '03-01-1996'

#df['Class']=df.loc[df['Date'] >= ts, :]

In [55]:
df.head(20)

,Date,StartTime,EndTime,TotalNapTime,Year,Month,Opened Day,hours,AM-PM,StartTime_AM-PM,EndTime_AM-PM
0,2018-09-05,9:37,10:23,0:46,2018,September,Wednesday,9,AM,9:37 AM,10:23 AM
1,2018-09-05,2:26,3:15,0:49,2018,September,Wednesday,2,PM,2:26 PM,3:15 PM
2,2018-09-06,9:23,10:02,0:39,2018,September,Thursday,9,AM,9:23 AM,10:02 AM
3,2018-09-06,1:24,2:11,0:47,2018,September,Thursday,1,PM,1:24 PM,2:11 PM
4,2018-09-07,9:23,10:02,0:39,2018,September,Friday,9,AM,9:23 AM,10:02 AM
5,2018-09-07,1:24,2:11,0:47,2018,September,Friday,1,PM,1:24 PM,2:11 PM
6,2018-09-07,9:37,11:01,1:24,2018,September,Friday,9,AM,9:37 AM,11:01 AM
7,2018-09-10,9:18,10:00,0:42,2018,September,Monday,9,AM,9:18 AM,10:00 AM
8,2018-09-10,4:09,4:36,0:27,2018,September,Monday,4,PM,4:09 PM,4:36 PM
9,2018-09-11,9:08,10:03,0:55,2018,September,Tuesday,9,AM,9:08 AM,10:03 AM
10,2018-09-11,1:41,2:29,0:48,2018,September,Tuesday,1,PM,1:41 PM,2:29 PM
11,2018-09-12,9:46,10:44,0:58,2018,September,Wednesday,9,AM,9:46 AM,10:44 AM
12,2018-09-12,1:13,2:05,0:52,2018,September,Wednesday,1,PM,1:13 PM,2:05 PM
13,2018-09-13,9:27,10:13,0:46,2018,September,Thursday,9,AM,9:27 AM,10:13 AM
14,2018-09-13,9:27,10:13,0:46,2018,September,Thursday,9,AM,9:27 AM,10:13 AM
15,2018-09-14,10:03,10:36,0:33,2018,September,Friday,10,AM,10:03 AM,10:36 AM
16,2018-09-14,2:13,3:04,0:51,2018,September,Friday,2,PM,2:13 PM,3:04 PM
17,2018-09-17,10:00,11:01,1:1,2018,September,Monday,10,AM,10:00 AM,11:01 AM
18,2018-09-17,2:06,2:40,0:34,2018,September,Monday,2,PM,2:06 PM,2:40 PM
19,2018-09-18,9:11,9:53,0:42,2018,September,Tuesday,9,AM,9:11 AM,9:53 AM

In [1]:
%load_ext watermark

# python, ipython, packages, and machine characteristics
%watermark -v -m -p wget,pandas,numpy,geopy,altair,vega,vega_datasets,watermark 

# date
print (" ")
%watermark -u -n -t -z

CPython 3.7.4
IPython 7.8.0

wget 3.2
pandas 0.25.1
numpy 1.17.1
geopy 1.20.0
altair 4.0.0
vega 2.6.0
vega_datasets 0.8.0
watermark 2.0.2

compiler   : Clang 10.0.1 (clang-1001.0.46.4)
system     : Darwin
release    : 19.0.0
machine    : x86_64
processor  : i386
CPU cores  : 4
interpreter: 64bit

last updated: Fri Dec 27 2019 07:34:25 EST